

</br>

<div class="fluid-container">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
            <!-- Tabbed navigation bar
            ================================================== -->
			{include="navBar"}
            
            <!-- The Tab content starts here
            ============================================== -->            
            <div class="tab-content">
			
                <!-- First competence tab
           		============================================== -->
				{include="compTabTable"}
			
			</div>
        </div>
    <div class="span1"></div>
	</div>           
</div>      
