<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Self Assessment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- Bootstrap Stylesheet -->
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <!-- Custom CSS Stylesheet that overrules some of the bootstrap CSS. This has to be included AFTER bootstrap.css -->
        <link href="css/custom-bootstrap.css" rel="stylesheet" media="screen">        
    </head>
    <body>
<div class="tab-pane fade in active" id="knowledge">
</div>
<!-- This is our Top bar. This bar will show information like who is logged in and has the main action buttons -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
    
        <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
    
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="">Self Assessment <small>v0.1</small></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
		  <li><a href="#formview">Form View</a></li>
          <li><a href="#summaryview">Summary View</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a>Logged in as Mattia Fiumara</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      
      </div>
      <div class="span1"></div>
      </div>
      
    </div>
  </div>
</div>

<!-- We can leave this header out if there is not enough room for the competences, or edit the margins of page-header to our liking. We can also insert a </br> tag for a bit of room.-->
<!--
<div class="page-header">
    <h1 class="text-center">Self Assessment <small>Mattia Fiumara</small></h1>
</div>
-->
</br>
<div class="fluid-container">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
            <!-- Tabbed navigation bar
            ================================================== -->
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#knowledge" data-toggle="tab"><span class="label label-warning">Disciplinary Knowledge</span></a></li>
                <li><a href="#research" data-toggle="tab">Doing Research</a></li>
                <li><a href="#designing" data-toggle="tab">Designing</a></li>
                <li><a href="#approach" data-toggle="tab">Scientific Approach</a></li>
                <li><a href="#skills" data-toggle="tab"><span class="label label-warning">Basic Intellectual Skills</span></a></li>
                <li><a href="#cooperating" data-toggle="tab">Cooperating and Communicating</a></li>
                <li><a href="#context" data-toggle="tab">Temporal and Social Context</a></li>
            </ul>
            
            <!-- The Tab content starts here
            ============================================== -->            
            <div class="tab-content">
            
                <!-- First competence tab
           		============================================== -->
                <div class="tab-pane fade in active" id="knowledge">
				
					<!-- Pagination of all the sub competences
                    ========================================== -->    
                    <div class="pagination pagination-centered">
						<ul id="pagination" class="disciplinaryknowledge">
							<li><a href="#">&larr;</a>
							<li id="disciplinaryknowledge1"><a href="#">1</a></li>
							<li id="disciplinaryknowledge2"><a href="#">2</a></li>
							<li id="disciplinaryknowledge3"><a href="#">3</a></li>
							<li id="disciplinaryknowledge4"><a href="#"><span class="label label-warning">4</span></a></li>
							<li id="disciplinaryknowledge5"><a href="#">5</a></li>
							<li id="disciplinaryknowledge6"><a href="#">6</a></li>
							<li id="disciplinaryknowledge7"><a href="#">7</a></li>
							<li id="disciplinaryknowledge8"><a href="#">8</a></li>
							<li id="disciplinaryknowledge9"><a href="#"><span class="label label-warning">9</span></a></li>
							<li id="disciplinaryknowledge10"><a href="#">10</a></li>
							<li id="disciplinaryknowledge11"><a href="#">11</a></li>
							<li><a href="#">&rarr;</a>
						</ul>
                    </div>
				
					<div id="disciplinaryknowledge1">
						<div class="row-fluid">
							<div class="span8">     
								<!-- Here comes the real content...! -->
								<dl>
									<dt>Knowledge of the theory of MHD</dt>
									<dd><p>Knowledge of the theory of MHD refers to a body of generally accepted insights. Theoretical knowledge in general describes how the central concepts of a discipline are interrelated. It relates to the state-of-the-art knowledge within a scientific discipline.</p></dd>
									<dt>Knowledge Base</dt>
									<dd><p><strong>BSc:</strong> understands the knowledge base of the relevant fields (theories, methods, techniques)</p></dd>
									<dd><p><strong>MSc:</strong> has a thorough mastery of parts of the relevant fields extending to forefront of knowledge (latest theorems, methods, techniques and topical questions)</p></dd>
								</dl>
								
							</div>
							<div class="span4">
								<h4 class="text-right">Disciplinary Knowledge</h4>
								<h4 class="text-right"><small>This section addresses your level of disciplinary knowledge.</small></h4>                    
							</div>
						</div>
						
						<form>
						<!-- All Itemlevels are displayed in table form -->
							<table class="table table-striped table-condensed table-hover">
								<caption><h6>Which of the following describes best your level of theoretical knowledge of MHD?</h6></caption>
								<tr class="success">
									<td><i class="icon-ok"></i></td>
									<td>I possess no such level of knowledge</td>
									<td></td>
								</tr>
								<tr class="warning">
									<td><i class="icon-time"></i></td>
									<td>I have heard of some of the concepts of MHD, more in particular flux surfaces, conservation laws, instabilities, and their interrelations</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I recall the above concepts of MHD, and how they are interrelated in terms of laws, interactions, measurements and/or interventions</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I can apply theoretical knowledge on MHD to conventional problems in the discipline, such as the pen-and-paper assignments in any introductory (although not non-popularized) text on MHD </td>
									<td></td>
								</tr>
								<tr>
									<td><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I can apply theoretical knowledge on MHD to problems in the discipline that are currently under active research, such as sawteeth, neoclassical tearing modes, beta limit. </td>
									<td></td>
								</tr>
								<tr>
									<td><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I can revise some concepts of the theory of MHD and / or their interrelations to fulfil a need such as advanced operating scenario?s, resisitive MHD </td>
									<td></td>
								</tr>
							</table>
						
						<!-- All ItemProofs are displayed in table form -->
							<table class="table table-striped table-condensed table-hover">
								<caption><h6>How did you achieve this level of theoretical knowledge of MHD?</h6></caption>
								<tr>
									<td><input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I have trained applying theoretical knowledge on MHD to practical problems such as pressure balance,heat transport</td>
									<td></td>
								</tr>
								<tr class="warning">
									<td><i class="icon-time"></td>
									<td>I have trained applying theoretical knowledge on MHD to textbook problems of textbooks such as Freidberg</td>
									<td></td>
								</tr>
								<tr class="warning">
									<td><i class="icon-time"></td>
									<td>I reflected on a particular topic from the theory on MHD in a structured manner, starting from a question I posed myself</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I have shown examples of the application of theoretical knowledge on MHD, other than by making textbook exercises</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I have asked probing questions to my supervisors / teachers to extend my theoretical knowledge on MHD after I had tried to solve these questions myself</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I have devised a glossary of the relevant terms from MHD theory</td>
									<td></td>
								</tr>
								<tr class="warning">
									<td><i class="icon-time"></td>
									<td>I have explained concepts of MHD theory to fellow students in a 1-to-1 setting</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I have explained concepts of MHD theory to fellow students in a plenary setting</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I have  identified the need to revise a concept from the theory of MHD  as it is presented in any textbook such as Freidberg</td>
									<td></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled></td>
									<td>I have made adjustment(s) to one or more concepts from the theory of MHD as it is presented in textbooks such as Freidberg</td>
									<td></td>
								</tr>
							</table>
							<div class="btn-group">
								<button type="submit" class="btn">Submit as Student</button>
								<button type="submit" class="btn" disabled>Submit as Supervisor</button>
							</div>
						</form>

					</div>
					
                
				</div>
				

				
                <!-- Other competence tabs
                ============================================== -->
                <div class="tab-pane fade" id="research">
					<div class="pagination pagination-centered">
                        <ul id="pagination" class="Research">
                            <li class="disabled"><span>Prev</span></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#2">2</a></li>
                            <li><a href="#3">3</a></li>
                            <li><a href="#4">4</a></li>
                            <li><a href="#5">5</a></li>
                            <li><a href="#next">Next</a></li>
                        </ul>
                    </div>
                    <div class="row-fluid">
                    	<div class="span12">
                        	<h4 class="text-center">This section explores your competence in executing research. With research, we mean the development and probing of new knowledge and new insights in a purposeful and systematic manner.</h4>
                    	</div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="designing">
                	<h4 class="text-center">This section explores your competence in executing research. With research, we mean the development and probing of new knowledge and new insights in a purposeful and systematic manner.</h4>
                    <div class="row-fluid">
                    	<div class="span12">
                        	<p class="text-center">Testingggggg</p>
                    	</div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="approach">
                    <h4 class="text-center">This section addresses your level of disciplinary knowledge.</h4>
                </div>
                
                <div class="tab-pane fade" id="skills">
                    <h4 class="text-center">This section addresses your level of disciplinary knowledge.</h4>
                </div>
                
                <div class="tab-pane fade" id="cooperating">
                    <h4 class="text-center">This section addresses your level of disciplinary knowledge.</h4>
                </div>
                
                <div class="tab-pane fade" id="context">
                    <h4 class="text-center">This section addresses your level of disciplinary knowledge.</h4>
                </div>
                
            </div>
        </div>
    <div class="span1"></div>
	</div>           
</div>      

        <!-- Load javascript at the end of the file to increase loading time. -->
		<!-- In this Design template we do not need javascript however.
        <script type="text/javascript" src="js/jquery-2.0.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/element-control.js"></script>
		-->
    </body>
</html>
