    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Create Account</h2>
        {loop="Errormessage"}
		<p class="text-error">{$value}</p>
		{/loop}
		
		<select name="program" class="span4" placeholder="program">
		{loop="Program"}
			<option>{$value.title}</option>
		{/loop}
        </select>
        
		<input title="Student ID" name="studentID" type="text" class="input-block-level" placeholder="Student ID" value="{$StudentIDvalue}" autofocus="on">
		<input title="First Name" name="firstname" type="text" class="input-block-level" placeholder="First Name" value="{$Firstnamevalue}">
		<input title="Last Name" name="lastname" type="text" class="input-block-level" placeholder="Last Name" value="{$Lastnamevalue}">
		<input title="Email Address" name="email" type="text" class="input-block-level" placeholder="Email address" value="{$Emailvalue}">
		<input title="Password" name="password" type="password" class="input-block-level" placeholder="Password">
		<input title="Repeat Password" name="password2" type="password" class="input-block-level" placeholder="Repeat Password">
		<button class="btn btn-large btn-primary" type="submit">Create Account</button>
      </form>

    </div> <!-- /container -->

        <!-- Load javascript at the end of the file to increase loading time. -->
        <script type="text/javascript" src="js/jquery-2.0.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/element-control.js"></script>

    </body>
</html>
