    <div class="container">
	
      <form class="form-signin">
        <h2 class="form-signin-heading">New Password</h2>
        <p class="text-error">{$Errormessage}</p>
		<p>Fill in your student ID so we can send you a brand new, freshly generated Password!</p>
		
        <input type="text" class="input-block-level" placeholder="Student ID">

		
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->

        <!-- Load javascript at the end of the file to increase loading time. -->
        <script type="text/javascript" src="js/jquery-2.0.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/element-control.js"></script>

    </body>
</html>
