</br>

<div class="fluid-container">
    <div class="row-fluid">
<!--        <div class="span1"></div>	-->
        <div class="span12" id="spanpadding">
            <!-- Tabbed navigation bar
            ================================================== -->
			{include="navBar"}
            
            <!-- The Tab content starts here
            ============================================== -->            
            <div class="tab-content">
			
                <!-- Content based on the usertype
           		============================================== -->
           		{if="$Usertype == 'student'"}
					{include="webtool_student"}
				{elseif="$Usertype == 'moderator'"}
					{if="$StudentID == null"}
						{include="student_list"}
					{else}
						{include="webtool_moderator"}
					{/if}
				{elseif="$Usertype == 'administrator'"}
					{include="content_administrator"}
				{/if}
			</div>
        </div>
<!--    <div class="span1"></div>	-->
	</div>           
</div>      
